main{
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  
}

main > header{
  padding: 1rem;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
/*   width: 100vw;
 */
}

/* main > header button{
  background:none;
  border: none;
  font-size: 1.5rem;
} */

.app {
  min-height: 0;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: 10rem auto; 
  grid-template-rows: auto 1fr; 
  
}
.app > form {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app > form input {
  flex-grow: 1;
  padding: 0.25rem;
  
}

.app > .selectIdiom{
  background-color: white;
  padding: 0.5rem;
  position: absolute;
  margin-top: 2.2rem;
  display: flex;
  gap: 1rem;

}
.app > menu {
  list-style: none;
  min-height: 0;
  overflow: auto;
  border-right: 1px solid black;
  padding-top: 2rem;
  
}
 .app > menu li {
  cursor: pointer;
  padding: 0.15rem 0 ;
  text-transform: capitalize;

 }
 
 .app > output{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   gap: 2rem;
    

    
 }

 .app > output > div{
  background-color: rgb(199, 247, 237);
  padding: 4rem;
  margin: 1rem;
  border-radius: 2rem;
  
 }

 .app > output header{
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: capitalize;

 }
 .app > output > div > .verbsCard{
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
 }
 .app > output > div > .verbsCard button{
  font-size: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  width: 50px;
  height: 55px;
  background-repeat: no-repeat;
}
.app > output > div > .verbsCard button>img{
  width: 100%;
  border: solid;
  border-radius: 50%;
  
}
 .app > output > div > .verbsCard dt{
  padding-bottom: 0.5rem;
  font-weight: bold;
 }
 .app > output > div > .verbsCard label{
  font-weight: bold;
 }
 .app > output > div > .verbsCard label > input{
  margin-top: 0.5rem;
  margin: 1rem;
  max-width: 70%;
 }

 .app > .choose-exercise{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
 }
 .app > .choose-exercise > div{
  display: flex;
  justify-content: center;
}
.app > .choose-exercise > div >button{
  padding: 2rem;
  border-radius: 25px;
  font-size: medium;
  background-color: rgb(199, 247, 237);
  cursor: pointer;
}
  
  


